<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AdresseRpcPolygon" value="https://polygon-rpc.com"/>
		<add key="ChainIdPolygon" value="137"/>
		<add key="AdresseRpcBSC" value="https://bsc-dataseed.binance.org/"/>
		<add key="ChainIdBSC" value="56"/>
		<add key="AdresseRpcBSCTestnet" value="https://data-seed-prebsc-1-s1.binance.org:8545"/>
		<add key="ChainIdBSCTestnet" value="97"/>
		<add key="AdresseRpcAVAX" value="https://api.avax.network/ext/bc/C/rpc"/>
		<add key="ChainIdAVAX" value="43114"/>
		<add key="ContractMercenary" value="0x969cd0cB7C8db14705322A9c4F314e6a9F66d969"/>
		<add key="ContractSunflower" value="0x6e5fa679211d7f6b54e14e187d34ba547c5d3fe0"/>
		<add key="ContractPancake" value="0x10ED43C718714eb63d5aA57B78B54704E256024E"/>
		<add key="ContractPancakeTestnet" value="0x9Ac64Cc6e4415144C455BD8E4837Fea55603e5c3"/>
		<add key="ContractTokenBUSD" value="0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56"/>
		<add key="ContractTokenBUSDTestNet" value="0x78867BbEeF44f2326bF8DDd1941a4439382EF2A7"/>
		<add key="ContractTokenWBNBTestNet" value="0xae13d989daC2f0dEbFf460aC112a837C89BAa7cd"/>
		<add key="ContractTokenETHTestNet" value="0x8BaBbB98678facC7342735486C851ABD7A0d17Ca"/>
		<add key="ContractTokenDAITestNet" value="0x8a9424745056eb399fd19a0ec26a14316684e274"/>
		<add key="ContractTokenUSDTTestNet" value="0x7ef95a0fee0dd31b22626fa2e10ee6a223f8a684"/>
		<add key="ContractTokenMercenary" value="0xe0e279ee10e3bdc9b7577f5548dd46fca2e7e111"/>
		<add key="ContractTokenSFF" value="0xdf9b4b57865b403e08c85568442f95c26b7896b0"/>
		<add key="ContractSunflowerCharity" value="0x060697E9d4EEa886EbeCe57A974Facd53A40865B"/>
	</appSettings>
</configuration>